<div
  class="wrapper relative h-full flex justify-between py-2 border-b border-tui-base-03 sm:px-2 lg:px-5"
>
  <div class="h-full flex items-center">
    <!-- <button
      tuiIconButton
      *ngIf="options.showInfo"
      (click)="toggleMobileNav(true)"
      (tuiActiveZoneChange)="toggleMobileNav($event)"
      icon="tuiIconMenuLarge"
      class="lg:!hidden"
      aria-label="Menu"
    >
      <div *tuiSidebar="openMobileNav">
        <tss-mobile-sidebar
          (clickItem)="toggleMobileNav(false, true)"
        ></tss-mobile-sidebar>
      </div>
    </button> -->
    <a routerLink="/" class="h-full flex items-center">
      <img
        src="/assets/favicon/logo.png"
        class="block w-12 h-12 object-cover"
        alt="Logo"
      />

      <h3 class="hidden ml-1 text-lg font-bold uppercase md:block">ESM</h3>
    </a>

    <tui-hosted-dropdown
      *ngIf="!isInCommonPage"
      [(open)]="openExaminationDropdown"
      [content]="examinationDropdown"
      [@fadeInOut]
      class="ml-10"
    >
      <button
        *ngrxLet="examinationStatus$ as examinationStatus"
        tuiButton
        appearance="flat"
        iconRight="tuiIconChevronDownLarge"
        [showLoader]="examinationStatus === 'loading'"
        [pseudoHover]="openExaminationDropdown || null"
      >
        {{ selectedExamination?.name }}
      </button>
    </tui-hosted-dropdown>
  </div>

  <div class="right flex items-center">
    <a
      *ngIf="!hideCreateButton"
      [@fadeInOut]
      tuiButton
      routerLink="/create"
      appearance="primary"
      icon="tuiIconPlusCircleLarge"
    >
      Tạo
    </a>

    <tui-input
      [(ngModel)]="searchValue"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldCleaner]="true"
      tuiTextfieldIconLeft="tuiIconSearchLarge"
      tuiTextfieldSize="m"
      class="w-[400px]"
    >
      Tìm bất cứ thứ gì
    </tui-input>

    <esm-bell></esm-bell>

    <div *ngIf="options.showInfo" class="hidden lg:block">
      <tui-hosted-dropdown
        *ngrxLet="userTitle$ as userTitle"
        [(open)]="openUserDropdown"
        [content]="userDropdown"
        tuiDropdownAlign="left"
      >
        <button
          tuiButton
          *ngrxLet="userName$ as userName"
          appearance="nav-button"
          type="button"
        >
          Xin chào {{ userTitle }} {{ userName }}!
        </button>
      </tui-hosted-dropdown>
    </div>

    <!-- <ng-container *ngrxLet="rightMenu$ as rightMenu">
      <div
        *ngIf="options.showInfo && rightMenu"
        class="flex items-center lg:hidden"
      >
        <ng-container [ngTemplateOutlet]="rightMenu"></ng-container>
      </div>
    </ng-container> -->
  </div>
</div>

<ng-template #examinationDropdown>
  <tui-input
    #input
    [(ngModel)]="searchExaminationValue"
    [tuiTextfieldLabelOutside]="true"
    [tuiTextfieldCleaner]="true"
    tuiTextfieldIconLeft="tuiIconSearchLarge"
    tuiTextfieldSize="m"
    class="m-2"
  >
    Tìm kỳ thi
  </tui-input>

  <hr />

  <ng-container *ngrxLet="relatedStatus$ as relatedStatus">
    <tui-loader
      *ngIf="relatedStatus === 'loading'; else data"
      class="w-96 h-20"
    ></tui-loader>
  </ng-container>

  <ng-template #data>
    <tui-data-list
      *ngrxLet="relatedExaminations$ as relatedExaminations"
      size="l"
      class="w-[460px] px-0 py-1"
      role="menu"
    >
      <tui-opt-group
        *tuiLet="
          relatedExaminations
            | tuiFilter : filter : searchExaminationValue as filtered
        "
      >
        <ng-container *ngFor="let examination of filtered">
          <button
            tuiOption
            *ngrxLet="
              examination.id === selectedExamination?.id as isCurrentExamination
            "
            (click)="onClickExaminationDropdownItem(examination.id)"
            [class.!bg-tui-secondary]="isCurrentExamination"
            class="!justify-start !my-0 !rounded-none"
            role="menuitem"
          >
            <span class="w-6 mr-1">
              <tui-svg
                *ngIf="isCurrentExamination"
                src="tuiIconCheck"
              ></tui-svg>
            </span>
            {{ examination.name }}
          </button>
        </ng-container>
      </tui-opt-group>
    </tui-data-list>
  </ng-template>
</ng-template>

<ng-template #userDropdown>
  <tui-data-list class="navbar-dropdown" size="l" role="menu">
    <tui-opt-group *ngFor="let group of items">
      <ng-container *ngFor="let item of group.items">
        <a
          tuiOption
          *ngIf="item.externalLink; else link"
          [href]="item.externalLink"
          target="_blank"
          role="menuitem"
        >
          <tui-svg [src]="item.icon"></tui-svg>
          <span>{{ item.label }}</span>
          <tui-svg src="tuiIconExternalLinkLarge"></tui-svg>
        </a>
        <ng-template #link>
          <a
            tuiOption
            *ngIf="item.routerLink; else button"
            (click)="onClickUserDropdownItem(item.key)"
            [routerLink]="item.routerLink"
            role="menuitem"
          >
            <tui-svg [src]="item.icon"></tui-svg>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
        <ng-template #button>
          <button
            tuiOption
            (click)="onClickUserDropdownItem(item.key)"
            role="menuitem"
          >
            <tui-svg [src]="item.icon"></tui-svg>
            <span>{{ item.label }}</span>
          </button>
        </ng-template>
      </ng-container>
    </tui-opt-group>
  </tui-data-list>
</ng-template>
