<ng-container *ngrxLet="examination$ as examination">
  <h1 class="absolute text-3xl font-bold">Dữ liệu lịch thi</h1>

  <ng-container [ngSwitch]="examination.status">
    <esm-examination-data-import
      *ngSwitchCase="ExaminationStatus.Idle"
      class="flex-1"
    ></esm-examination-data-import>

    <esm-examination-data-temporary-table
      *ngSwitchCase="ExaminationStatus.Setup"
      class="flex-1"
    ></esm-examination-data-temporary-table>

    <esm-examination-data-table
      *ngSwitchCase="ExaminationStatus.AssignFaculty"
      class="flex-1"
    ></esm-examination-data-table>
  </ng-container>
</ng-container>
