<tui-island [formGroup]="form" size="l" class="max-w-3xl mx-auto">
  <h3 class="text-2xl font-bold">Tạo kỳ thi mới</h3>
  <label tuiLabel="Tên kỳ thi *">
    <tui-input formControlName="name" [tuiTextfieldLabelOutside]="true">
      Kỳ thi kết thúc học phần...
      <!-- <input tuiTextfield placeholder="Kỳ thi kết thúc học phần..." /> -->
    </tui-input>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <label tuiLabel="Mã kỳ thi">
    <tui-input formControlName="displayId" [tuiTextfieldLabelOutside]="true">
      Tên viết tắt của kỳ thi (tùy chọn)
    </tui-input>
  </label>

  <label tuiLabel="Mô tả">
    <tui-input formControlName="description" [tuiTextfieldLabelOutside]="true">
      Tóm tắt nội dung (tùy chọn)
    </tui-input>
  </label>

  <label tuiLabel=" Khoảng thời gian dự kiến">
    <tui-input-date-range
      formControlName="expectedDateRange"
      [tuiTextfieldLabelOutside]="true"
    >
      Thời gian diễn ra (tùy chọn)
    </tui-input-date-range>
  </label>

  <div class="flex justify-end">
    <button
      *ngrxLet="status$ as status"
      tuiButton
      (click)="onSubmit()"
      [showLoader]="status === 'loading'"
      [disabled]="form.invalid"
      icon="tuiIconCheckLarge"
    >
      Hoàn thành
    </button>
  </div>
</tui-island>
