<div
  class="py-3 flex flex-0 justify-between items-center bg-white text-3xl font-bold"
>
  <h3>Danh sách phân giảng viên mỗi khoa</h3>

  <div *ngIf="isEditing; else noEdit">
    <button
      *ngrxLet="isSaving$ as isSaving"
      tuiButton
      (click)="saveChange()"
      [showLoader]="isSaving"
      icon="tuiIconCheckLarge"
      class="mr-2"
    >
      Lưu
    </button>
    <button
      tuiButton
      (click)="cancelEdit()"
      appearance="secondary-destructive"
      icon="tuiIconCloseLarge"
    >
      Hủy
    </button>
  </div>
  <ng-template #noEdit>
    <div>
      <button
        tuiButton
        (click)="toggleEdit(true)"
        icon="tuiIconEditLarge"
        class="mr-2"
      >
        Chỉnh sửa
      </button>
      <button tuiButton icon="tuiIconDownloadLarge">Tải file Excel</button>
    </div>
  </ng-template>
</div>

<tui-scrollbar waIntersectionRoot class="scrollbar" class="flex-1">
  <table
    tuiTable
    *ngIf="form"
    [formGroup]="form"
    [columns]="columns"
    class="w-full"
  >
    <thead tuiThead>
      <tr tuiThGroup>
        <th tuiTh>Mã học phần</th>
        <th tuiTh>Tên học phần</th>
        <th tuiTh>Hình thức thi</th>
        <th tuiTh>Ngày thi</th>
        <th tuiTh>Ca thi</th>
        <th tuiTh>Phòng thi</th>
        <th tuiTh>Số thí sinh</th>
        <th tuiTh>Khoa Khoa học Cơ bản</th>
        <th tuiTh>Khoa Cơ khí</th>
        <th tuiTh>Khoa Công trình</th>
        <th tuiTh>Khoa Điện - Điện tử</th>
        <th tuiTh>Khoa Kỹ thuật xây dựng</th>
        <th tuiTh>Khoa Vận tải - Kinh tế</th>
        <th tuiTh>Khoa MT&ATGT</th>
        <th tuiTh>Khoa Lý luận Chính trị</th>
        <th tuiTh>Khoa QLXD</th>
        <th tuiTh>Khoa Công nghệ thông tin</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="data" formArrayName="invigilatorsCount">
      <tr
        [formGroup]="invigilatorsCount(i)"
        *ngFor="let item of data; let i = index"
        tuiTr
      >
        <td *tuiCell="'startAt'" tuiTd>
          <div>
            {{ item.startAt | date : "dd/MM/y" }}
          </div>
        </td>
        <ng-container *ngFor="let facultyId of facultiesId">
          <td *tuiCell="facultyId" tuiTd [class.colored]="isEditing">
            <tui-input-number
              (ngModelChange)="onValueChange(item.id, $event)"
              [formControl]="control(i, facultyId)"
              [readOnly]="!isEditing"
            ></tui-input-number>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</tui-scrollbar>
