<ng-container *ngrxLet="showLoader$ as showLoader">
  <div
    class="py-3 flex flex-0 justify-between items-center bg-white text-3xl font-bold"
  >
    <div class="flex">
      <h3>Danh sách phân giảng viên mỗi khoa</h3>
      <tui-loader
        *ngrxLet="updateRows$ as updateRows"
        [showLoader]="!!updateRows.length"
        class="w-9 h-9 ml-2"
      ></tui-loader>
    </div>
    <div *ngrxLet="examination$ as examination" class="buttons">
      <button
        tuiButton
        *ngIf="examination?.status === ExaminationStatus.AssignFaculty"
        (click)="calculate()"
        [showLoader]="showLoader"
        icon="tuiIconAirplayLarge"
      >
        Tính số lượng
      </button>

      <button
        tuiButton
        *ngIf="examination?.status === ExaminationStatus.AssignFaculty"
        [showLoader]="showLoader"
        icon="tuiIconCheckCircleLarge"
      >
        Chốt số lượng
      </button>

      <!-- TODO -->
      <button tuiButton icon="tuiIconDownloadLarge">Tải file Excel</button>
    </div>
  </div>

  <tui-loader *ngIf="showLoader; else loaded" class="h-40"></tui-loader>
</ng-container>

<ng-template #loaded>
  <tui-scrollbar class="scrollbar" class="h-full">
    <cdk-virtual-scroll-viewport
      #viewport
      *ngrxLet="columns$ as columns"
      tuiScrollable
      class="h-full tui-zero-scrollbar"
      [itemSize]="45"
      [maxBufferPx]="1000"
      [minBufferPx]="700"
    >
      <table
        tuiTable
        *ngIf="form"
        [formGroup]="form"
        [columns]="columns"
        class="relative w-full"
      >
        <ng-container *ngrxLet="faculties$ as faculties">
          <thead tuiThead>
            <tr
              tuiThGroup
              *esmVar="0 - viewport['_renderedContentOffset'] as offset"
            >
              <th tuiTh [sticky]="true" [style.top.px]="offset">Mã học phần</th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">
                Tên học phần
              </th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">
                Hình thức thi
              </th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">Ngày thi</th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">Ca thi</th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">Khoa CN</th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">Số phòng</th>
              <th tuiTh [sticky]="true" [style.top.px]="offset">Số CBCT</th>
              <ng-container *ngFor="let faculty of faculties">
                <th
                  tuiTh
                  *tuiHead="faculty.id"
                  [sorter]="null"
                  [sticky]="true"
                  [style.top.px]="offset"
                >
                  {{ faculty.displayId }}
                </th>
              </ng-container>
              <th
                tuiTh
                *tuiHead="'total'"
                [sorter]="null"
                [sticky]="true"
                [style.top.px]="offset"
              >
                Tổng số
              </th>
              <th
                tuiTh
                *tuiHead="'difference'"
                [sorter]="null"
                [sticky]="true"
                [style.top.px]="offset"
              >
                Chênh lệch
              </th>
            </tr>
          </thead>
          <tbody
            tuiTbody
            *ngrxLet="updateRows$ as updateRows"
            formArrayName="data"
          >
            <tr
              *cdkVirtualFor="let item of formControl.value; let i = index"
              tuiTr
              [formGroupName]="i"
              [class.updating]="updateRows | array : 'in' : i"
            >
              <td *tuiCell="'moduleId'" tuiTd class="w-24 max-w-[6rem]">
                {{ item.module.displayId }}
              </td>
              <td *tuiCell="'moduleName'" tuiTd class="w-52 max-w-[13rem]">
                {{ item.module.name }}
              </td>
              <td *tuiCell="'method'" tuiTd>
                {{ item.method | examMethod }}
              </td>
              <td *tuiCell="'startAt'" tuiTd>
                {{ item.startAt | date : "dd/MM/y" }}
              </td>
              <td *tuiCell="'shift'" tuiTd class="!text-center">
                {{ item.shift }}
              </td>
              <td *tuiCell="'facultyName'" tuiTd>
                {{ item.module.faculty.name }}
              </td>
              <td *tuiCell="'roomsCount'" tuiTd class="!text-center">
                {{ item.roomsCount }}
              </td>
              <td *tuiCell="'invigilatorsCount'" tuiTd class="!text-center">
                {{ item.invigilatorsCount }}
              </td>
              <ng-container *ngrxLet="examination$ as examination">
                <ng-container *ngFor="let faculty of faculties">
                  <td
                    *tuiCell="faculty.id"
                    tuiTd
                    (dblclick)="
                      examination?.status === ExaminationStatus.AssignFaculty
                        ? onDoubleClickCell($event, i, faculty.id)
                        : null
                    "
                    [class.!bg-tui-success-bg-hover]="
                      item[faculty.id].actual !== item[faculty.id].calculated
                    "
                    class="!text-center"
                  >
                    {{ item[faculty.id].actual }}
                  </td>
                </ng-container>
              </ng-container>
              <td *tuiCell="'total'" tuiTd class="!text-center">
                {{ item.total.actual }}
              </td>
              <ng-container *esmVar="item.total.calculated as difference">
                <td
                  *tuiCell="'difference'"
                  tuiTd
                  [class.!bg-tui-error-bg-hover]="difference"
                  class="!text-center"
                >
                  {{ difference }}
                  <tui-tooltip
                    *ngIf="difference"
                    [content]="
                      'Đang ' +
                      (difference < 0
                        ? 'thiếu ' + -difference
                        : 'thừa ' + difference)
                    "
                    direction="left"
                  ></tui-tooltip>
                </td>
              </ng-container>
            </tr>
          </tbody>

          <div
            [ngStyle]="inputStyle"
            class="absolute after:absolute after:inset-px after:bg-white"
          >
            <tui-input-number
              #input
              [(ngModel)]="inputValue"
              [ngModelOptions]="{ standalone: true }"
              (focusedChange)="onFocusedChange($event)"
              (keydown.enter)="onFocusedChange(false)"
              class="relative !text-center z-30"
            ></tui-input-number>
          </div>
        </ng-container>
      </table>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
</ng-template>
