<tui-scrollbar class="h-full">
  <cdk-virtual-scroll-viewport
    #viewport
    tuiScrollable
    class="h-full tui-zero-scrollbar"
    [itemSize]="45"
    [maxBufferPx]="1000"
    [minBufferPx]="700"
  >
    <table
      tuiTable
      *ngIf="form"
      [formGroup]="form"
      [columns]="columns"
      class="w-full"
    >
      <thead>
        <tr
          tuiThGroup
          *esmVar="0 - viewport['_renderedContentOffset'] as offset"
        >
          <th tuiTh [sticky]="true" [style.top.px]="offset">STT</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Mã học phần</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Tên học phần</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Lớp học phần</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Số TC</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Hình thức</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Ngày thi</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Bắt đầu</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Kết thúc</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Ca</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Số SV</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Số phòng</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Tên phòng</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Khoa</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Bộ môn</th>
          <th tuiTh [sticky]="true" [style.top.px]="offset">Phụ trách</th>
        </tr>
      </thead>
      <tbody tuiTbody formArrayName="data">
        <tr
          *cdkVirtualFor="let item of formControl.controls; let i = index"
          tuiTr
          [formGroupName]="i"
        >
          <td *tuiCell="'index'" tuiTd>{{ i + 1 }}</td>
          <td *tuiCell="'moduleId'" tuiTd class="w-24 max-w-[6rem]">
            <div
              #moduleIdDropdownHost="tuiDropdown"
              tuiDropdownContext
              *ngIf="item.value.errors['ModuleId']; else moduleIdNoError"
              [tuiDropdown]="moduleIdDropdown"
              class="absolute inset-0 flex items-center p-[inherit]"
            >
              {{ item.value.moduleId }}
              <esm-error-flag
                [error]="item.value.errors['ModuleId']"
              ></esm-error-flag>
              <ng-template #moduleIdDropdown>
                <tui-data-list role="menu">
                  <button
                    tuiOption
                    (click)="onAddModule(i); moduleIdDropdownHost.toggle(false)"
                  >
                    Thêm học phần
                    <tui-svg class="ml-1" src="tuiIconPlus"></tui-svg>
                  </button>
                </tui-data-list>
              </ng-template>
            </div>
            <ng-template #moduleIdNoError>
              {{ item.value.moduleId }}
            </ng-template>
          </td>
          <td *tuiCell="'moduleName'" tuiTd class="w-52 max-w-[13rem]">
            {{ item.value.moduleName }}
            <esm-error-flag
              [error]="item.value.errors['ModuleName']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'moduleClass'" tuiTd class="w-[450px] max-w-[450px]">
            {{ item.value.moduleClass }}
            <esm-error-flag
              [error]="item.value.errors['ModuleClass']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'credit'" tuiTd class="!text-center">
            {{ item.value.credit }}
            <esm-error-flag
              [error]="item.value.errors['Credit']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'method'" tuiTd>
            {{ item.value.method | examMethod }}
            <esm-error-flag
              [error]="item.value.errors['Method']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'date'" tuiTd>
            {{ item.value.date | date : "dd/MM/y" }}
            <esm-error-flag
              [error]="item.value.errors['Date']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'startAt'" tuiTd class="!text-center">
            {{ item.value.startAt | date : "HH:mm" }}
            <esm-error-flag
              [error]="item.value.errors['StartAt']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'endAt'" tuiTd class="!text-center">
            {{ item.value.endAt | date : "HH:mm" }}
            <esm-error-flag
              [error]="item.value.errors['EndAt']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'shift'" tuiTd class="!text-center">
            {{ item.value.shift }}
            <esm-error-flag
              [error]="item.value.errors['Shift']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'candidateCount'" tuiTd class="!text-center">
            <!-- {{ item.candidateCount }} -->
            <tui-input-number
              formControlName="candidateCount"
            ></tui-input-number>
            <esm-error-flag
              [error]="item.value.errors['CandidateCount']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'roomsCount'" tuiTd class="!text-center">
            {{ item.value.roomsCount }}
            <esm-error-flag
              [error]="item.value.errors['RoomsCount']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'rooms'" tuiTd>
            {{ item.value.rooms }}
            <esm-error-flag
              [error]="item.value.errors['Rooms']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'faculty'" tuiTd>
            {{ item.value.faculty }}
            <esm-error-flag
              [error]="item.value.errors['Faculty']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'department'" tuiTd>
            {{ item.value.department }}
            <esm-error-flag
              [error]="item.value.errors['Department']"
            ></esm-error-flag>
          </td>
          <td *tuiCell="'departmentAssign'" tuiTd>
            {{ item.value.departmentAssign ? "Bộ môn" : "Phòng KT&ĐBCLĐT" }}
            <esm-error-flag
              [error]="item.value.errors['DepartmentAssign']"
            ></esm-error-flag>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</tui-scrollbar>
