<h2 class="text-3xl font-bold">
  {{ isEditDialog ? "Chỉnh sửa thông tin" : "Thêm khoa mới" }}
</h2>

<div [formGroup]="form" class="mt-6">
  <label tuiLabel="Mã khoa">
    <tui-input
      formControlName="displayId"
      [tuiTextfieldLabelOutside]="true"
    ></tui-input>
  </label>

  <label tuiLabel="Tên khoa">
    <tui-input
      formControlName="name"
      [tuiTextfieldLabelOutside]="true"
    ></tui-input>
  </label>

  <div class="flex justify-end mt-6">
    <button
      tuiButton
      *ngrxLet="status$ as status"
      (click)="onCreate()"
      [showLoader]="status === 'loading'"
      icon="tuiIconCheck"
    >
      Hoàn thành
    </button>
  </div>
</div>
